/* Существующий код */
:root {
  --text-color: #16161d;
  --background-color: white;
  --shadow-color: var(--text-color);
  --backdrop-color: red; 
  /* repeating-conic-gradient(rgba(255,255,255,1.0) 0% 25%, transparent 0% 50%) 50% / 4px 4px; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: white;
    --background-color: #16161d;
    --backdrop: repeating-conic-gradient(rgba(128,128,128,.5) 0% 25%, transparent 0% 50%) 50% / 4px 4px;
  }
  body {
    color: var(--text-color);
    background-color: var(--background-color);
  }
}

/* Переопределение для принудительной светлой темы */
:root {
  --text-color: #16161d; /* Цвет текста для светлой темы */
  --background-color: white; /* Цвет фона для светлой темы */
  --shadow-color: var(--text-color);
  --backdrop-color: red; /* Оставляем как есть или изменяем по необходимости */
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
}
    
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        .container {
            max-width: 1000px;
            margin: 0 auto;
        }
        .section {
            margin-bottom: 20px;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
        .form-group {
            margin-bottom: 10px;
        }
        .breadcrumbs {
            margin-bottom: 10px;
        }
        /* Стили для списка директорий */
        #dirList {
            list-style: none;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            gap: 15px;
        }
        #dirList li {
            background-color: #f9f9f9;
            border: 1px solid #ddd;
            border-radius: 5px;
            padding: 15px;
            width: 200px;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1);
            transition: all 0.3s ease;
        }
        #dirList li:hover {
            background-color: #f0f0f0;
            box-shadow: 0 4px 8px rgba(0,0,0,0.15);
            transform: translateY(-2px);
        }
        #dirList li a {
            text-decoration: none;
            color: #333;
            display: flex;
            align-items: center;
            gap: 10px;
        }
        #dirList li a::before {
            content: "📁"; /* Эмодзи папки */
            font-size: 20px;
        }
